:root {
    font-family: Verdana, Arial;
    --accent-color: #EA4848;
    --background-primary: #FFFFFF;
    --background-secondary: #F2F5F8;


    /* --channels-default:  */
    --text-normal: #2E2F32;
    --text-muted: #ACACAC;
    --text-user: #45474a

    --border-main: #E5E5E5;


    --background-message-hover: #F3F8FD;
}

    /* --secondary-color: #17191C;
    --whitespace-color: #F8F9FA;
    --border-color: #DFDFDF;
    --text-color: #9B9A97;  */


#root {
    background-color: var(--whitespace-color);
}

.dark {

}

.page {
    display: flex;
    height: 100vh;
    margin: 0;   
}

.page > * {
    /* flex-grow: 1; */
}

.sidebar {
    background-color: var(--main-color);
    width: 3rem;
}

.contacts {
    background-color: var(--secondary-color);
    position: relative;
    width: 20rem;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

.profile > * {
    justify-content: center;
    display: flex;
    flex-basis: 100%;
    margin: 20px 0;
}

.avatar {
    background-color: var(--main-color);
    border-radius: 100%;
    display: inline-block;
}

.profile__avatar .avatar {
    height: 6rem;
    width: 6rem;
}

.profile__username > .username {
    color: white;
    display: inline-block;
    flex-basis: 100%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contacts__list {
    height: 60%;
    overflow: auto;
    padding: 0 20px;
}

.contacts__list .contact {
    align-items: center;
    /* background-color: grey; */
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 20px;
    user-select: none;
    width: 100%;
}

.contacts__list .contact:hover {
    background-color: rgb(41, 44, 49);
    transition: .1s;
}

.contact .avatar {
    height: 36px;
    width: 36px;
}

.contact .username {
    color: white;
    font-size: 20px;
    margin-left: 1rem;
}

.search-bar {
    background-color: rgb(49, 53, 59);
    border: none;
    bottom: 0;
    color: #FFF;
    font-size: 1rem;
    padding: 15px 10px;
    position: absolute;
    width: 100%;   
}

/* .chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 2%;
}

.chat__chat-area {
    flex-grow: 1;
}

.chat__messages-list {
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.chat__messages-list .message {
    flex-basis: 100%;
    margin-top: 18px;
}

.chat__messages-list .message .user-nickname {
    font-weight: bold;
}

.chat__chat-input {
    flex-basis: 80px;
    width: 100%;
}

.chat__chat-input form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.chat__chat-input input {
    border: none;
    border-top: 3px solid var(--main-color);
    padding: 20px 20px;
    width: 100%;
} */